[client]
default-character-set = utf8mb4

[mysqldump]
default-character-set = utf8mb4

[mysqld]
bind-address = 0.0.0.0
skip-name-resolve = 1

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init-connect = 'SET NAMES utf8mb4'

max_connections = 25
max_allowed_packet = 64M
connect_timeout = 10
wait_timeout = 120
interactive_timeout = 120

performance_schema = OFF

table_open_cache = 256
table_definition_cache = 256
thread_cache_size = 8

tmp_table_size = 16M
max_heap_table_size = 16M
sort_buffer_size = 1M
join_buffer_size = 256K
read_buffer_size = 128K
read_rnd_buffer_size = 256K
bulk_insert_buffer_size = 4M

key_buffer_size = 16M
aria_pagecache_buffer_size = 32M

innodb_buffer_pool_size = 256M
innodb_buffer_pool_instances = 1
innodb_log_file_size = 64M
innodb_log_buffer_size = 8M
innodb_file_per_table = 1
innodb_io_capacity = 200
innodb_flush_neighbors = 0
innodb_buffer_pool_dump_at_shutdown = 0
innodb_buffer_pool_load_at_startup = 0
